<!DOCTYPE html>
<html class='no-js' lang='en'>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>管理员面板 - 学生管理</title>
    <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css"/>
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
    <link href="/css/animate.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/toastr.min.css">

</head>
<body class='main page'>

<!-- Navbar -->
<div class="container">
    <div class='navbar navbar-default' id='navbar'>
        <a class='navbar-brand' href='#'>
            <img src="/img/logo.jpeg" class="logo">北京理工大学珠海学院选课系统 - 管理员面板</a>
        <ul class='nav navbar-nav pull-right'>
            <li class='dropdown user'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    <i class='icon-user'></i>
                    <strong></strong>
                    <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a href="#">退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class='container'>
    <section id='sidebar'>
        <ul id='dock'>
            <li class='launcher'>
                <i class='iconfont'>&#xe61e;</i>
                <a href="/admin/condition">选课状态</a>
            </li>
            <li class='active launcher'>
                <i class='iconfont'>&#xe7b2;</i>
                <a href="/admin/student">学生管理</a>
            </li>
            <li class='launcher'>
                <i class='iconfont'>&#xe7b4;</i>
                <a href="/admin/course">课程管理</a>
            </li>
            <li class='launcher'>
                <i class='iconfont'>&#xe6f7;</i>
                <a href="/admin/report">报表</a>
            </li>
        </ul>
        <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
    </section>

    <div class="container" style="margin: 10px 0">
        <div class="col-lg-3 col-lg-offset-9">
            <input style="float: right;" type="text" class="form-control" placeholder="搜索" id="searchStudent">
        </div>
    </div>
    <!-- Tools -->
    <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
            <li class='active'>
                学生清单
            </li>
            <li>
                <button id="importStudentExcel"
                        data-toggle="modal"
                        data-target="#importStudentExcelModal"
                        class="btn btn-info"
                >导入学生Excel表格
                </button>
            </li>
            <li>
                <button id="addOneStudent"
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#addOneStudentModal"
                >增加单个学生
                </button>
            </li>
            <li>
                <a class="btn btn-default"
                href="/admin/student/export"
                >导出学生信息Excel表格
                </a>
            </li>
        </ul>

    </section>

    <div class="container">

    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <th>学号</th>
            <th>姓名</th>
            <th>年级</th>
            <th>性别</th>
            <th>初始密码</th>
            <th>加密后的密码</th>
            <th>是否已修改初始密码</th>
            <th>操作</th>
            </thead>
            <tbody id="studentTmplTbody">

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="container">
            <ul id="pagesDiv" style="list-style: none;width: 250px;display: none"></ul>
        </div>
        <nav aria-label="Page navigation" style="position: relative">
            <ul class="pagination">
            </ul>
        </nav>
    </div>
</div>
</div>

<!--导入学生Excel Modal-->
<div class="modal fade" id="importStudentExcelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">导入学生Excel</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <input type="file" id="studentExcel">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitStudentExcel">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--增加单个学生 Modal-->
<div class="modal fade" id="addOneStudentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">增加单个学生</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="addStudentSchoolNo">学号</label>
                        <input data-check class="form-control" type="text" id="addStudentSchoolNo">
                        <div class="alert alert-success" role="alert" style="display: none">数据合法</div>
                        <div class="alert alert-danger" role="alert" style="display: none">数据不合法</div>
                    </div>
                    <div class="form-group">
                        <label for="addStudentName">姓名</label>
                        <input data-check class="form-control" type="text" id="addStudentName">
                        <div class="alert alert-success" role="alert" style="display: none">数据合法</div>
                        <div class="alert alert-danger" role="alert" style="display: none">数据不合法</div>
                    </div>
                    <div class="form-group">
                        <label for="addStudentGrade">年级</label>
                        <select id="addStudentGrade" class="form-control">
                            <option value="0">初一</option>
                            <option value="1">初二</option>
                            <option value="2">初三</option>
                            <option value="3">高一</option>
                            <option value="4">高二</option>
                            <option value="5">高三</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p><strong>性别</strong></p>
                        <label class="radio-inline">
                            <input type="radio" checked name="addStudentSex" id="inlineRadio1" value="0">男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="addStudentSex" id="inlineRadio2" value="1">女
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="addStudentPwd">密码</label>
                        <input data-check class="form-control" type="text" id="addStudentPwd">
                        <div class="alert alert-success" role="alert" style="display: none">数据合法</div>
                        <div class="alert alert-danger" role="alert" style="display: none">数据不合法</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitStudentAddBtn" disabled>Save changes</button>
            </div>
        </div>
    </div>
</div>


<!--修改学生信息 Modal-->
<div class="modal fade" id="modifyOneStudentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改学生信息</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="modifyStudentSchoolNo">学号</label>
                        <input data-check class="form-control" type="text" id="modifyStudentSchoolNo">
                        <div class="alert alert-success" role="alert" style="display: none">数据合法</div>
                        <div class="alert alert-danger" role="alert" style="display: none">数据不合法</div>
                    </div>
                    <div class="form-group">
                        <label for="modifyStudentName">姓名</label>
                        <input data-check class="form-control" type="text" id="modifyStudentName">
                        <div class="alert alert-success" role="alert" style="display: none">数据合法</div>
                        <div class="alert alert-danger" role="alert" style="display: none">数据不合法</div>
                    </div>
                    <div class="form-group">
                        <label for="modifyStudentGrade">年级</label>
                        <select id="modifyStudentGrade" class="form-control">
                            <option value="0">初一</option>
                            <option value="1">初二</option>
                            <option value="2">初三</option>
                            <option value="3">高一</option>
                            <option value="4">高二</option>
                            <option value="5">高三</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p><strong>性别</strong></p>
                        <label class="radio-inline">
                            <input type="radio" checked name="modifyStudentSex" value="0">男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="modifyStudentSex" value="1">女
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="addStudentPwd">密码</label>
                        <input data-check class="form-control" type="text" id="modifyStudentPwd">
                        <div class="alert alert-success" role="alert" style="display: none">数据合法</div>
                        <div class="alert alert-danger" role="alert" style="display: none">数据不合法</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitStudentModifyBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script id="studentTmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${school_no}</td>
        <td>${name}</td>
        <td>${grade}</td>
        <td>${sex}</td>
        <td>${init_pwd}</td>
        <td>${pwd}</td>
        <td>${is_modify}</td>
        <td>
            <button class="btn btn-warning deleteBtn" onClick=deleteEvent(${school_no})>删除</button>
            <button class="btn btn-info modifyBtn" onClick=modifyEvent(${school_no},"${name}","${grade}","${sex}","${init_pwd}")>修改</button>
        </td>
    </tr>
</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/jquery.tmpl.js"></script>
<script>
    $("#navbar > ul > li.dropdown.user > a > strong").text(sessionStorage.getItem("userName"));
</script>
<script>
    function Vue() {
        this.data = {
            page: 1,
            keyword: "",
            count: 1
        }
    }

    let vue = new Vue();
    vue.data.keyword = $("#searchStudent").val();

    $("#submitStudentExcel").on("click", function () {
        if (confirm("提交后，之前所有的数据都会被清空，确定提交？")) {
            const config = {
                headers: {
                    "Content-Type": "multipart/form-data"
                }
            };
            let formData = new FormData();
            formData.append("studentExcel", $("#studentExcel")[0].files[0]);
            axios.post("/admin/student/excel", formData, config)
                .then(function (data) {
                    setTimeout(function () {
                        $("#importStudentExcelModal").modal("hide");
                        if (data.status === 200 && data.data.code > 0) {
                            const res = data.data;
                            toastr.success(res.msg);
                        } else {
                            toastr.warning(data.data.msg);
                        }
                        location.hre = "/admin/student";
                    }, 500);
                });
        }
    });

    function getData(size = 1) {
        vue.data.data = [];
        axios.get("/admin/student/detail", {
            params: {
                page: size,
                keyword: vue.data.keyword,
                count: vue.data.count,
            }
        }).then(function (data) {
            if (data.status === 200 && data.data.code > 0) {
                const res = data.data.data;
                vue.data.page = parseInt(res.page);
                vue.data.count = res.count;
                vue.data.keyword = "";
                vue.data.data = res.data;
                showData(vue.data.data);
            } else {
                toastr.warning(data.data.msg);
            }
        });
    }

    getData(vue.data.page);


    function showData(items) {
        $("#studentTmplTbody").empty();
        console.log(items);
        for (let item of items) {
            const data = {
                "school_no": item.school_no,
                "name": item.name,
                "grade": studentGradeCodeToMsg(item.grade),
                "sex": studentSexCodeToMsg(item.sex),
                "init_pwd": item.init_pwd,
                "pwd": item.pwd,
                "is_modify": studentIsModifyCodeToMsg(item.is_modify),
            };
            $.tmpl($("#studentTmpl"), data).appendTo("#studentTmplTbody");
        }
        $("nav > .pagination").empty();
        $("nav > .pagination")
            .append(`<li class="prePage"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>`)
            .append(`<li class="page"><a href="#"><span>1</span></a></li>`)
            .append(`<li class="pages"><a href="#"><span>...</span></a></li>`)
            .append(`<li class="page"><a href="#"><span>${vue.data.count}</span></a></li>`)
            .append(`<li class="nextPage"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>`)
            .append(`<li class="page"><a href="#"><span>${vue.data.page}</span></a></li>`);
    }

    $("nav > .pagination").delegate(".prePage", "click", function () {
        if (vue.data.page < 1) {
            toastr.warning("已经是第一页了");
            return;
        }
        getData(vue.data.page - 1);
    });

    $("nav > .pagination").delegate(".nextPage", "click", function () {
        if (vue.data.page >= vue.data.count) {
            toastr.warning("已经是顶页了");
            return;
        }
        getData(vue.data.page + 1);
    });

    $("nav > .pagination").delegate(".page a", "click", function (e) {
        e.preventDefault();
    });

    $("nav > .pagination").delegate(".pages a", "click", function (e) {
        e.preventDefault();
    });
    $("#pagesDiv").delegate(".page a", "click", function (e) {
        e.preventDefault();
    });


    $("nav > .pagination").delegate(".page a span", "click", function (e) {
        let page = $(this).text();
        if (page >= 1 && page <= vue.data.count) {
            getData(page);
        }
    });

    $("#pagesDiv").delegate(".page a span", "click", function (e) {
        let page = $(this).text();
        if (page >= 1 && page <= vue.data.count) {
            getData(page);
        }
    });

    $("nav > .pagination").delegate(".pages", "click", function (e) {
        let pagesDiv = $('#pagesDiv');

        if (pagesDiv.css("display") == "none") {
            let childrensLength = pagesDiv.children().length;
            if (childrensLength != (vue.data.count - 2)) {
                let domStr = "";
                for (let i = 2; i < vue.data.count - 1; i++) {
                    domStr += `<li class="page" style="text-align:center;float: left;width: 30px;height: 30px;line-height: 30px;border:1px solid #dddddd;margin: 0 2px;"><a href="#"><span>${i}</span></a></li>`;
                }
                pagesDiv.empty();
                pagesDiv.append(domStr);
            }
            pagesDiv.show(500);
        } else {
            pagesDiv.hide(500);
        }

    });


    $("#searchStudent").on("input", function () {
        debounce(debounceGetData, 500)($(this).val());
    });

    function debounceGetData() {
        vue.data.keyword = $("#searchStudent").val();
        getData();
    }

    function debounce(func, delay) {
        return function (args) {
            clearInterval(func.id);
            func.id = setTimeout(function () {
                func(args);
            }, delay);
        };

    }


    function studentGradeCodeToMsg(code) {
        let msg = "";
        switch (code) {
            case 0 :
                msg = "初一";
                break;
            case 1 :
                msg = "初二";
                break;
            case 2 :
                msg = "初三";
                break;
            case 3 :
                msg = "高一";
                break;
            case 4 :
                msg = "高二";
                break;
            case 5 :
                msg = "高三";
                break;
        }
        return msg;
    }

    function studentGradeMsgToCode(msg) {
        let code = 0;
        switch (msg) {
            case "初一" :
                code = 0;
                break;
            case "初二" :
                code = "1";
                break;
            case "初三" :
                code = 2;
                break;
            case "高一" :
                code = 3;
                break;
            case "高二" :
                code = 4;
                break;
            case "高三" :
                code = 5;
                break;
        }
        return code;
    }


    function studentSexCodeToMsg(code) {
        let msg = "";
        switch (code) {
            case 0 :
                msg = "男";
                break;
            case 1 :
                msg = "女";
                break;
        }
        return msg;
    }

    function studentSexMsgToCode(msg) {
        let code = 0;
        switch (msg) {
            case  "男":
                code = 0;
                break;
            case "女" :
                code = 1;
                break;
        }
        return code;
    }


    function studentIsModifyCodeToMsg(code) {
        let msg = "";
        switch (code) {
            case 0 :
                msg = "否";
                break;
            case 1 :
                msg = "是";
                break;
        }
        return msg;
    }

    $("#navbar > ul > li > ul > li > a").on("click", function () {
        axios.put("/admin/exit").then(function (data) {
            sessionStorage.clear();
            toastr.success(data.data.msg);
            setTimeout(function () {
                location.href = data.data.data.url;
            }, 500);
        });
    });

    let illegal = {
        "addStudentName": true,
        "addStudentPwd": true,
        "addStudentSchoolNo": true
    };

    const submitStudentAddBtn = $('#submitStudentAddBtn');

    $.fn.extend({
        toggleMsg: function (className, display) {
            this.siblings(className).css("display", display);
        }
    });

    $("[data-check]").on("blur", function () {
        if ($(this).val().length > 0) {
            let index = $(this).attr("id");
            illegal[index] = false;
            submitStudentAddBtn.attr("disabled", false);
            $(this).toggleMsg(".alert-success", "block");
            for (let key in illegal) {
                if (illegal[key]) {
                    submitStudentAddBtn.attr("disabled", true);
                }
            }
        } else {
            $(this).toggleMsg(".alert-danger", "block");
        }
    });

    $("[data-check]").on("focus", function () {
        $(this).toggleMsg(".alert", "none");
    });


    submitStudentAddBtn.on("click", function () {
        const data = {
            "userName": $("#addStudentName").val(),
            "schoolNo": $("#addStudentSchoolNo").val(),
            "grade": $("#addStudentGrade").val(),
            "sex": $("[name=addStudentSex]:checked").val(),
            "initPwd": $("#addStudentPwd").val(),
        };
        axios.post("/admin/student/addition", data).then(function (data) {
            if (data.status === 200 && data.data.code > 0) {
                const res = data.data;
                toastr.success(res.msg);
                setTimeout(function () {
                    location.reload();
                }, 500);
            } else {
                toastr.warning(data.data.msg);
            }
        });
    });

    function deleteEvent(schoolNo) {
        if (confirm("你确定删除学号：" + schoolNo + "的学生吗?")) {
            axios.delete("/admin/student/deletion/" + schoolNo).then(function (data) {
                if (data.status === 200 && data.data.code > 0) {
                    const res = data.data;
                    toastr.success(res.msg);
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else {
                    toastr.warning(data.data.msg);
                }
            });
        }

    }

    function modifyEvent(schoolNo, name, grade, sex, initPwd) {
        $("#modifyStudentName").val(name);
        $("#modifyStudentSchoolNo").val(schoolNo);
        $("#modifyStudentGrade option[value=" + studentGradeMsgToCode(grade) + "]").attr("selected", true);
        $("[name=modifyStudentSex][value=" + studentSexMsgToCode(sex) + "]").attr("checked", true);
        $("#modifyStudentPwd").val(initPwd);
        $("#modifyOneStudentModal").modal("show");
    }

    $("#submitStudentModifyBtn").on("click", function () {
        const schoolNo = $("#modifyStudentSchoolNo").val();
        const data = {
            "userName": $("#modifyStudentName").val(),
            "grade": $("#modifyStudentGrade").val(),
            "sex": $("[name=modifyStudentSex]:checked").val(),
            "initPwd": $("#modifyStudentPwd").val(),
        };
        axios.put("/admin/student/renewal/" + schoolNo, data).then(function (data) {
            if (data.status === 200 && data.data.code > 0) {
                const res = data.data;
                toastr.success(res.msg);
                setTimeout(function () {
                    location.reload();
                }, 500);
            } else {
                toastr.warning(data.data.msg);
            }
        });

    });


</script>
</body>
</html>
