<!DOCTYPE html>
<html class='no-js' lang='en'>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>管理员面板 - 北航附中选修课报名系统</title>
    <link href="/css/application-a07755f5.css" rel="stylesheet" type="text/css"/>
    <link href="/css/iconfont.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/toastr.min.css">

</head>
<body class='main page'>

<!-- Navbar -->
<div class='navbar navbar-default' id='navbar'>
    <a class='navbar-brand' href='#'>
        <img src="/img/logo.jpeg" class="logo">北京理工大学珠海学院选课系统 - 管理员面板</a>
    <ul class='nav navbar-nav pull-right'>
        <li class='dropdown user'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                <i class='icon-user'></i>
                <strong></strong>
                <b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
                <li>
                    <a href="#">退出登录</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id='wrapper'>
    <section id='sidebar'>
        <ul id='dock'>
            <li class='launcher'>
                <i class='iconfont'>&#xe61e;</i>
                <a href="/admin/condition">选课状态</a>
            </li>
            <li class='active launcher'>
                <i class='iconfont'>&#xe7b2;</i>
                <a href="/admin/student">学生管理</a>
            </li>
            <li class='launcher'>
                <i class='iconfont'>&#xe7b4;</i>
                <a href="/admin/course">课程管理</a>
            </li>
            <li class='launcher'>
                <i class='iconfont'>&#xe6f7;</i>
                <a href="/admin/report">报表</a>
            </li>
        </ul>
        <div data-toggle='tooltip' id='beaker' title='Made by lab2023'></div>
    </section>

    <!-- Tools -->
    <section id='tools'>
        <ul class='breadcrumb' id='breadcrumb'>
            <li class='active'>
                学生清单
            </li>
            <li>
                <button id="importStudentExcel"
                        data-toggle="modal"
                        data-target="#importStudentExcelModal"
                        class="btn btn-info"
                >导入学生Excel表格
                </button>
            </li>
            <li>
                <button id="addOneStudent"
                        class="btn btn-success"
                >增加单个学生
                </button>
            </li>
        </ul>
    </section>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <th>学号</th>
            <th>姓名</th>
            <th>年级</th>
            <th>性别</th>
            <th>初始密码</th>
            <th>加密后的密码</th>
            <th>是否已修改初始密码</th>
            <th>操作</th>
            </thead>
            <tbody id="studentTmplTbody">

            </tbody>
        </table>
    </div>


</div>


<!--导入学生Excel Modal-->
<div class="modal fade" id="importStudentExcelModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">导入学生Excel</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <input type="file" id="studentExcel">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitStudentExcel">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script id="studentTmpl" type="text/x-jquery-tmpl">
    <tr>
        <td>${school_no}</td>
        <td>${name}</td>
        <td>${grade}</td>
        <td>${sex}</td>
        <td>${init_pwd}</td>
        <td>${pwd}</td>
        <td>${is_modify}</td>
        <td>
            <button class="btn btn-warning">删除</button>
            <button class="btn btn-info">修改</button>
        </td>
    </tr>


</script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/jquery.tmpl.js"></script>
<script>
    $("#navbar > ul > li.dropdown.user > a > strong").text(sessionStorage.getItem("userName"));
</script>
<script>

    function Vue() {
        this.data = {
            page: 1,
            keyword: "",
            count: 1
        }
    }

    let vue = new Vue();

    $("#submitStudentExcel").on("click", function () {
        if (confirm("提交后，之前所有的数据都会被清空，确定提交？")) {
            const config = {
                headers: {
                    "Content-Type": "multipart/form-data"
                }
            };
            let formData = new FormData();
            formData.append("studentExcel", $("#studentExcel")[0].files[0]);
            axios.post("/admin/student/excel", formData, config)
                .then(function (data) {
                    setTimeout(function () {
                        $("#importStudentExcelModal").modal("hide");
                        if (data.status === 200 && data.data.code > 0) {
                            const res = data.data;
                            toastr.success(res.msg);
                        } else {
                            toastr.warning(data.data.msg);
                        }
                        location.hre = "/admin/student";
                    }, 500);
                });
        }
    });

    axios.get("/admin/student/detail", {
        params: vue.data
    }).then(function (data) {
        if (data.status === 200 && data.data.code > 0) {
            const res = data.data.data;
            vue.data.page = parseInt(res.page);
            vue.data.count = res.count;
            vue.data.keyword = "";
            vue.data.data = res.data;
            showData(vue.data.data);
        } else {
            toastr.warning(data.data.msg);
        }
    });

    function showData(items) {
        for (let item of items) {
            const data = {
                "school_no": item.school_no,
                "name": item.name,
                "grade": studentGradeCodeToMsg(item.grade),
                "sex": studentSexCodeToMsg(item.sex),
                "init_pwd": item.init_pwd,
                "pwd": item.pwd,
                "is_modify": studentIsModifyCodeToMsg(item.is_modify),
            };
            $.tmpl($("#studentTmpl"), data).appendTo("#studentTmplTbody");
        }
    }


    function studentGradeCodeToMsg(code) {
        let msg = "";
        switch (code) {
            case 0 :
                msg = "初一";
                break;
            case 1 :
                msg = "初二";
                break;
            case 2 :
                msg = "初三";
                break;
            case 3 :
                msg = "高一";
                break;
            case 4 :
                msg = "高二";
                break;
            case 5 :
                msg = "高三";
                break;
        }
        return msg;
    }


    function studentSexCodeToMsg(code) {
        let msg = "";
        switch (code) {
            case 0 :
                msg = "男";
                break;
            case 1 :
                msg = "女";
                break;
        }
        return msg;
    }


    function studentIsModifyCodeToMsg(code) {
        let msg = "";
        switch (code) {
            case 0 :
                msg = "否";
                break;
            case 1 :
                msg = "是";
                break;
        }
        return msg;
    }

    $("#navbar > ul > li > ul > li > a").on("click", function () {
        axios.put("/admin/exit").then(function (data) {
            sessionStorage.clear();
            toastr.success(data.data.msg);
            setTimeout(function () {
                location.href = data.data.data.url;
            }, 500);
        });
    });
</script>
</body>
</html>
