<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>学生登录界面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="/css/floating-labels.css">

</head>
<body>
<div id="app" class="form-signin">


    <div class="form-label-group">
        <input type="text" id="userName" class="form-control" placeholder="请输入账号" required autofocus>
        <label for="userName">用户名</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="pwd" class="form-control" placeholder="请输入密码" required>
        <label for="pwd">密码</label>
    </div>


    <button class="btn btn-lg btn-primary btn-block" id="loginBtn" type="button">登录</button>

</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/axios.min.js"></script>
<script>
    let loginBtn = $("#loginBtn");

    $('#pwd').on("keyup",function (e) {
        if(e.keyCode === 13){
            loginBtn.click();
        }

    });
    loginBtn.on("click",function () {
        let userName = $("#userName").val();
        let pwd = $("#pwd").val();
        if(userName.length < 1 || userName == null ||pwd.length < 1 || pwd == null ){
            toastr.warning("数据错误！！");
            return;
        }
        axios.post("/student/login",{
            "userName" : userName,
            "pwd" : pwd
        }).then(function (data) {
            if(data.status === 200 && data.data.code > 0){
                const res = data.data;
                toastr.success("登录成功");
                sessionStorage.setItem("userName",res.data.userName);
                sessionStorage.setItem("isModify",res.data.isModify);
                setTimeout(function () {
                    location.href = res.data.url;
                },1000);
            }else{
                toastr.warning(data.data.msg);
            }
        });
    });
</script>
</body>
</html>
